---
import projects from "../../collections/projects.json";
import Button from "../ui/button.astro";
import Project from "../project.astro";
---


<section class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
    {projects.map((project) => (
      <Project
        name={project.name}
        description={project.description}
        image={project.image}
        url={project.url}
        technologies={project.technologies}
      />
    ))}
  </div>
  <div class="flex justify-center mt-12">
    <a
      href="/projects"
      class="px-6 py-3 bg-neutral-900 dark:bg-neutral-100 text-white dark:text-neutral-900 rounded-full font-semibold hover:bg-neutral-700 dark:hover:bg-neutral-300 transition-colors duration-300"
    >
      Ver Todos Mis Proyectos
    </a>
  </div>
</section>
